# Database
DATABASE_URL="postgresql://username:password@postgres:5432/db_name"
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name 

# Auth - JWT Secrets (Development only!)
JWT_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"

WABA_ID=""
WHATSAPP_PHONE_NUMBER_ID=""
META_WHATSAPP_TOKEN=""
META_PHONE_NUMBER_ID="12XXXXXXXXXXXX1"

#  SMS 
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_SMS_FROM=""

CONTACT_INBOX_EMAIL=""
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_FROM=""

ZOHO_USER=""
EMAIL_FROM=""
ZOHO_PASS=""


SYSTEM_ADMIN_EMAIL="your-email@example.com"
SYSTEM_ADMIN_PASSWORD="your-secure-password"
OPS_ALERT_EMAIL=""

# Security - Rate Limiting
RATE_LIMIT_WINDOW=60
RATE_LIMIT_MAX=10


# Storage
STORAGE_PROVIDER="local"
STORAGE_LOCAL_PATH="/app/uploads"

# OTP Configuration
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

# App Configuration
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="your app name"
NODE_ENV="development"


# Required for retry cron
CRON_SECRET=""
OPS_ALERT_EMAIL=""