--
-- PostgreSQL database dump
--

\restrict DBzN2wdpFfo6VAxnwEiQQgNa43DUCi220zwBx63cdl1p8tAfWYLTZ0t1WW6B1aF

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AuditAction" AS ENUM (
    'CREATED',
    'UPDATED',
    'SUBMITTED',
    'APPROVED',
    'REJECTED',
    'CANCELLED',
    'IN_TRANSIT',
    'COMPLETED',
    'EXPIRED',
    'PAID',
    'DELETED'
);


ALTER TYPE public."AuditAction" OWNER TO postgres;

--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DocumentType" AS ENUM (
    'AADHAAR',
    'PAN'
);


ALTER TYPE public."DocumentType" OWNER TO postgres;

--
-- Name: EntityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EntityType" AS ENUM (
    'USER',
    'COMPANY',
    'PROJECT',
    'PLANT',
    'PERMIT',
    'WEIGHMENT',
    'NOTIFICATION'
);


ALTER TYPE public."EntityType" OWNER TO postgres;

--
-- Name: NotificationPriority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationPriority" AS ENUM (
    'CRITICAL',
    'STANDARD',
    'TRANSIENT'
);


ALTER TYPE public."NotificationPriority" OWNER TO postgres;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED'
);


ALTER TYPE public."NotificationStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'SMS',
    'EMAIL',
    'WHATSAPP'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PermitStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PermitStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'UNDER_REVIEW',
    'APPROVED',
    'IN_TRANSIT',
    'COMPLETED',
    'EXPIRED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."PermitStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'COMPANY_USER',
    'INDIVIDUAL',
    'GUEST'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: WasteType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WasteType" AS ENUM (
    'CND_SEGREGATED',
    'CND_UNSEGREGATED'
);


ALTER TYPE public."WasteType" OWNER TO postgres;

--
-- Name: WeighmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WeighmentStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."WeighmentStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "entityType" public."EntityType" NOT NULL,
    "entityId" text NOT NULL,
    action public."AuditAction" NOT NULL,
    "performedByUserId" text NOT NULL,
    metadata jsonb,
    "previousState" jsonb,
    "newState" jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    "registrationNumber" text,
    "gstNumber" text,
    address text,
    city text,
    state text,
    pincode text,
    "contactEmail" text,
    "contactPhone" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: IdentityDocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."IdentityDocument" (
    id text NOT NULL,
    type public."DocumentType" NOT NULL,
    "documentNumber" text NOT NULL,
    "filePath" text,
    "isVerified" boolean DEFAULT false NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."IdentityDocument" OWNER TO postgres;

--
-- Name: LegacyWeighmentImport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LegacyWeighmentImport" (
    id text NOT NULL,
    "slipNo" text NOT NULL,
    "vehicleNo" text NOT NULL,
    material text,
    "firstWeight" double precision,
    "secondWeight" double precision,
    "netWeight" double precision,
    "firstWeighAt" timestamp(3) without time zone,
    "secondWeighAt" timestamp(3) without time zone,
    supplier text,
    location text,
    customer text,
    "rawData" jsonb NOT NULL,
    "importStatus" text DEFAULT 'PENDING'::text NOT NULL,
    errors jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LegacyWeighmentImport" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    type public."NotificationType" NOT NULL,
    status public."NotificationStatus" DEFAULT 'PENDING'::public."NotificationStatus" NOT NULL,
    "recipientPhone" text,
    "recipientEmail" text,
    subject text,
    message text NOT NULL,
    "userId" text,
    "permitId" text,
    "sentAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    "failureReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    priority public."NotificationPriority" DEFAULT 'STANDARD'::public."NotificationPriority" NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: OTPVerification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OTPVerification" (
    id text NOT NULL,
    phone text NOT NULL,
    otp text NOT NULL,
    purpose text NOT NULL,
    "isUsed" boolean DEFAULT false NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "usedAt" timestamp(3) without time zone
);


ALTER TABLE public."OTPVerification" OWNER TO postgres;

--
-- Name: Permit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Permit" (
    id text NOT NULL,
    "permitNumber" text NOT NULL,
    token text NOT NULL,
    status public."PermitStatus" DEFAULT 'DRAFT'::public."PermitStatus" NOT NULL,
    "wasteType" public."WasteType" NOT NULL,
    "estimatedWeight" double precision,
    "estimatedVolume" double precision,
    "wasteDescription" text,
    "projectId" text,
    "pickupAddress" text NOT NULL,
    "pickupCity" text NOT NULL,
    "pickupState" text NOT NULL,
    "pickupPincode" text NOT NULL,
    "plantId" text NOT NULL,
    "driverName" text,
    "driverPhone" text,
    "vehicleNumber" text,
    "vehicleType" text,
    "validFrom" timestamp(3) without time zone,
    "validUntil" timestamp(3) without time zone,
    "userId" text NOT NULL,
    "approvedByUserId" text,
    "approvedAt" timestamp(3) without time zone,
    "rejectedByUserId" text,
    "rejectedAt" timestamp(3) without time zone,
    "rejectionReason" text,
    "cancelledByUserId" text,
    "cancelledAt" timestamp(3) without time zone,
    "cancellationReason" text,
    "completedByUserId" text,
    "completedAt" timestamp(3) without time zone,
    "updatedByUserId" text,
    "transitStartedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "companyId" text,
    "licenseNumber" text
);


ALTER TABLE public."Permit" OWNER TO postgres;

--
-- Name: Plant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Plant" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    address text NOT NULL,
    city text NOT NULL,
    state text NOT NULL,
    pincode text NOT NULL,
    latitude double precision,
    longitude double precision,
    "contactEmail" text,
    "contactPhone" text,
    "operatingHours" text,
    capacity integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Plant" OWNER TO postgres;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    address text NOT NULL,
    city text NOT NULL,
    state text NOT NULL,
    pincode text NOT NULL,
    latitude double precision,
    longitude double precision,
    "isActive" boolean DEFAULT true NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO postgres;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "userAgent" text,
    "ipAddress" text
);


ALTER TABLE public."RefreshToken" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    phone text,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    role public."UserRole" DEFAULT 'INDIVIDUAL'::public."UserRole" NOT NULL,
    "isPhoneVerified" boolean DEFAULT false NOT NULL,
    "isEmailVerified" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "companyId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "isSystemAdmin" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: WasteEvidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WasteEvidence" (
    id text NOT NULL,
    "fileName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    description text,
    "capturedAt" timestamp(3) without time zone,
    latitude double precision,
    longitude double precision,
    "permitId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WasteEvidence" OWNER TO postgres;

--
-- Name: Weighment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Weighment" (
    id text NOT NULL,
    "weighmentNumber" text NOT NULL,
    "permitId" text NOT NULL,
    "plantId" text NOT NULL,
    "netWeight" double precision,
    status public."WeighmentStatus" DEFAULT 'PENDING'::public."WeighmentStatus" NOT NULL,
    "paymentStatus" public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "paymentAmount" double precision,
    "paymentMethod" text,
    "paymentReference" text,
    "approvedByUserId" text,
    "approvedAt" timestamp(3) without time zone,
    "paidByUserId" text,
    "paidAt" timestamp(3) without time zone,
    "updatedByUserId" text,
    "rejectionReason" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "weighedAt" timestamp(3) without time zone,
    "fileUrl" text,
    "firstWeighmentAt" timestamp(6) with time zone,
    "firstWeight" double precision,
    "secondWeighmentAt" timestamp(6) with time zone,
    "secondWeight" double precision
);


ALTER TABLE public."Weighment" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, "registrationNumber", "gstNumber", address, city, state, pincode, "contactEmail", "contactPhone", "isActive", "createdAt", "updatedAt") FROM stdin;
892fdf32-1512-4f05-9392-459100862a32	XYZ	U74999HR2016PTC065432	06ABCDE1234F1Z5	Plot No. 45, Sector 32   Udyog Vihar, Phase IV 	Gurugram	Haryana	122001	contact@xyz.com	9005909516	t	2026-04-03 11:16:01.639	2026-04-03 11:16:01.639
\.


--
-- Data for Name: IdentityDocument; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."IdentityDocument" (id, type, "documentNumber", "filePath", "isVerified", "userId", "createdAt", "updatedAt") FROM stdin;
9acfb8b2-a688-4a6c-a325-ff7d6de98639	AADHAAR	878954652135	identity/2026/04/e022575b-d1ad-4592-b9f8-503e69a1eea7.webp	f	34e89a18-c9b7-4d86-bfbe-2ee99b338651	2026-04-03 12:13:39.296	2026-04-03 12:13:39.296
14301932-1488-4a4b-8b68-8969421a262e	PAN	PTQW1234AB	identity/2026/04/c677b7c2-5a3f-4db3-9f03-4b3df41a2e58.webp	f	34e89a18-c9b7-4d86-bfbe-2ee99b338651	2026-04-03 12:13:53.2	2026-04-03 12:13:53.2
\.


--
-- Data for Name: LegacyWeighmentImport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LegacyWeighmentImport" (id, "slipNo", "vehicleNo", material, "firstWeight", "secondWeight", "netWeight", "firstWeighAt", "secondWeighAt", supplier, location, customer, "rawData", "importStatus", errors, "createdAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OTPVerification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OTPVerification" (id, phone, otp, purpose, "isUsed", attempts, "expiresAt", "createdAt", "usedAt") FROM stdin;
\.


--
-- Data for Name: Permit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Plant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Plant" (id, name, code, address, city, state, pincode, latitude, longitude, "contactEmail", "contactPhone", "operatingHours", capacity, "isActive", "createdAt", "updatedAt") FROM stdin;
87969e40-66cf-44e2-ab27-e8a3e9919418	Basai	BS0001	Sector 9B, Sector 101, and Sector 37C.	Gurugram	Haryana	122001	\N	\N	cotact.basai@mcg.com	8789543526	24	\N	t	2026-04-03 10:53:10.357	2026-04-03 10:53:10.357
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Project" (id, name, description, address, city, state, pincode, latitude, longitude, "isActive", "companyId", "createdAt", "updatedAt") FROM stdin;
9bc80280-66b4-4c55-a570-c9044d54fec0	Dreams XYZ	\N	Plot No. 45, Sector 32   Udyog Vihar, Phase II	Gurugram	Haryana	122001	28.62709946507895	77.37340011732431	t	892fdf32-1512-4f05-9392-459100862a32	2026-04-03 11:18:13.575	2026-04-03 11:18:13.575
\.


--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WasteEvidence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Weighment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: IdentityDocument IdentityDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."IdentityDocument"
    ADD CONSTRAINT "IdentityDocument_pkey" PRIMARY KEY (id);


--
-- Name: LegacyWeighmentImport LegacyWeighmentImport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LegacyWeighmentImport"
    ADD CONSTRAINT "LegacyWeighmentImport_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: OTPVerification OTPVerification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OTPVerification"
    ADD CONSTRAINT "OTPVerification_pkey" PRIMARY KEY (id);


--
-- Name: Permit Permit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_pkey" PRIMARY KEY (id);


--
-- Name: Plant Plant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plant"
    ADD CONSTRAINT "Plant_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WasteEvidence WasteEvidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WasteEvidence"
    ADD CONSTRAINT "WasteEvidence_pkey" PRIMARY KEY (id);


--
-- Name: Weighment Weighment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entityType_entityId_idx" ON public."AuditLog" USING btree ("entityType", "entityId");


--
-- Name: AuditLog_performedByUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_performedByUserId_idx" ON public."AuditLog" USING btree ("performedByUserId");


--
-- Name: Company_gstNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_gstNumber_key" ON public."Company" USING btree ("gstNumber");


--
-- Name: Company_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_name_idx" ON public."Company" USING btree (name);


--
-- Name: Company_registrationNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_registrationNumber_key" ON public."Company" USING btree ("registrationNumber");


--
-- Name: IdentityDocument_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IdentityDocument_userId_idx" ON public."IdentityDocument" USING btree ("userId");


--
-- Name: IdentityDocument_userId_type_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IdentityDocument_userId_type_key" ON public."IdentityDocument" USING btree ("userId", type);


--
-- Name: LegacyWeighmentImport_slipNo_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LegacyWeighmentImport_slipNo_idx" ON public."LegacyWeighmentImport" USING btree ("slipNo");


--
-- Name: LegacyWeighmentImport_vehicleNo_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LegacyWeighmentImport_vehicleNo_idx" ON public."LegacyWeighmentImport" USING btree ("vehicleNo");


--
-- Name: Notification_expiresAt_priority_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_expiresAt_priority_idx" ON public."Notification" USING btree ("expiresAt", priority);


--
-- Name: Notification_permitId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_permitId_idx" ON public."Notification" USING btree ("permitId");


--
-- Name: Notification_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_status_idx" ON public."Notification" USING btree (status);


--
-- Name: OTPVerification_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OTPVerification_expiresAt_idx" ON public."OTPVerification" USING btree ("expiresAt");


--
-- Name: OTPVerification_phone_purpose_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OTPVerification_phone_purpose_idx" ON public."OTPVerification" USING btree (phone, purpose);


--
-- Name: Permit_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_companyId_idx" ON public."Permit" USING btree ("companyId");


--
-- Name: Permit_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_createdAt_idx" ON public."Permit" USING btree ("createdAt");


--
-- Name: Permit_permitNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_permitNumber_idx" ON public."Permit" USING btree ("permitNumber");


--
-- Name: Permit_permitNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Permit_permitNumber_key" ON public."Permit" USING btree ("permitNumber");


--
-- Name: Permit_plantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_plantId_idx" ON public."Permit" USING btree ("plantId");


--
-- Name: Permit_projectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_projectId_idx" ON public."Permit" USING btree ("projectId");


--
-- Name: Permit_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_status_idx" ON public."Permit" USING btree (status);


--
-- Name: Permit_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_token_idx" ON public."Permit" USING btree (token);


--
-- Name: Permit_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Permit_token_key" ON public."Permit" USING btree (token);


--
-- Name: Permit_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Permit_userId_idx" ON public."Permit" USING btree ("userId");


--
-- Name: Plant_city_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Plant_city_idx" ON public."Plant" USING btree (city);


--
-- Name: Plant_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Plant_code_idx" ON public."Plant" USING btree (code);


--
-- Name: Plant_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Plant_code_key" ON public."Plant" USING btree (code);


--
-- Name: Project_city_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Project_city_idx" ON public."Project" USING btree (city);


--
-- Name: Project_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Project_companyId_idx" ON public."Project" USING btree ("companyId");


--
-- Name: RefreshToken_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RefreshToken_token_idx" ON public."RefreshToken" USING btree (token);


--
-- Name: RefreshToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RefreshToken_token_key" ON public."RefreshToken" USING btree (token);


--
-- Name: RefreshToken_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RefreshToken_userId_idx" ON public."RefreshToken" USING btree ("userId");


--
-- Name: User_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_companyId_idx" ON public."User" USING btree ("companyId");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_phone_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_phone_idx" ON public."User" USING btree (phone);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: WasteEvidence_permitId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WasteEvidence_permitId_idx" ON public."WasteEvidence" USING btree ("permitId");


--
-- Name: Weighment_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Weighment_createdAt_idx" ON public."Weighment" USING btree ("createdAt");


--
-- Name: Weighment_permitId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Weighment_permitId_idx" ON public."Weighment" USING btree ("permitId");


--
-- Name: Weighment_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Weighment_status_idx" ON public."Weighment" USING btree (status);


--
-- Name: Weighment_weighmentNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Weighment_weighmentNumber_key" ON public."Weighment" USING btree ("weighmentNumber");


--
-- Name: AuditLog AuditLog_performedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_performedByUserId_fkey" FOREIGN KEY ("performedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: IdentityDocument IdentityDocument_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."IdentityDocument"
    ADD CONSTRAINT "IdentityDocument_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_permitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_permitId_fkey" FOREIGN KEY ("permitId") REFERENCES public."Permit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_approvedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_approvedByUserId_fkey" FOREIGN KEY ("approvedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_cancelledByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_cancelledByUserId_fkey" FOREIGN KEY ("cancelledByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_completedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_completedByUserId_fkey" FOREIGN KEY ("completedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_plantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_plantId_fkey" FOREIGN KEY ("plantId") REFERENCES public."Plant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Permit Permit_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_rejectedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_rejectedByUserId_fkey" FOREIGN KEY ("rejectedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_updatedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_updatedByUserId_fkey" FOREIGN KEY ("updatedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Permit Permit_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permit"
    ADD CONSTRAINT "Permit_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WasteEvidence WasteEvidence_permitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WasteEvidence"
    ADD CONSTRAINT "WasteEvidence_permitId_fkey" FOREIGN KEY ("permitId") REFERENCES public."Permit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Weighment Weighment_approvedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_approvedByUserId_fkey" FOREIGN KEY ("approvedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Weighment Weighment_paidByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_paidByUserId_fkey" FOREIGN KEY ("paidByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Weighment Weighment_permitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_permitId_fkey" FOREIGN KEY ("permitId") REFERENCES public."Permit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Weighment Weighment_plantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_plantId_fkey" FOREIGN KEY ("plantId") REFERENCES public."Plant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Weighment Weighment_updatedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Weighment"
    ADD CONSTRAINT "Weighment_updatedByUserId_fkey" FOREIGN KEY ("updatedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict DBzN2wdpFfo6VAxnwEiQQgNa43DUCi220zwBx63cdl1p8tAfWYLTZ0t1WW6B1aF

